#!/usr/bin/make -f
export DH_VERBOSE=1
export DH_OPTIONS

CFLAGS = -O2 -Wall
CFLAGS += -D_LARGEFILE64_SOURCE -D_FILE_OFFSET_BITS=64
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
	DEBUG := --enable-debug
else
	DEBUG := --disable-debug
endif

TAR=tar
PECL_PKG_NAME=yaf
PACKAGE_NAME=php-yaf
BIN_PACKAGE_NAME=php5-yaf
PHPIZE=/usr/bin/phpize
PHPCONFIG=/usr/bin/php-config
EXT_DIR=$(shell $(PHPCONFIG) --extension-dir)
SOURCE_DIR=../yaf-src
VER=2.2.9
TAG=yaf-$(VER)

phpapiver=$(shell /usr/bin/php-config5 --phpapi)

configure: configure-stamp

configure-stamp:
	dh_testdir
	(cd $(SOURCE_DIR); \
	$(PHPIZE); \
	./configure --with-php-config=$(PHPCONFIG) --prefix=/usr)
	touch $@

build: build-stamp

build-stamp: configure 
	dh_testdir
	(cd $(SOURCE_DIR); $(MAKE); mkdir -p ../tmp/modules; cp modules/* ../tmp/modules; $(MAKE) clean)
	(/usr/share/dh-make-php/phppkginfo $(SOURCE_DIR) changelog > debian/Changelog)
	touch build-stamp
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp* configure-stamp*
	# Add here commands to clean up after the build process.
	(cd $(SOURCE_DIR); \
	$(MAKE) clean; \
	$(PHPIZE) --clean)
	rm -rf ../tmp
	rm -f debian/$(BIN_PACKAGE_NAME).substvars
	rm -rf debian/$(BIN_PACKAGE_NAME)/
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	mkdir -p debian/$(BIN_PACKAGE_NAME)$(EXT_DIR)
	install -m 644 -o root -g root ../tmp/modules/$(PECL_PKG_NAME).so debian/$(BIN_PACKAGE_NAME)/$(EXT_DIR)/$(PECL_PKG_NAME).so
	if [ -f "debian/$(PECL_PKG_NAME).ini" ]; then \
		mkdir -p debian/$(BIN_PACKAGE_NAME)/etc/php5/mods-available; \
		install -m 644 -o root -g root debian/$(PECL_PKG_NAME).ini debian/$(BIN_PACKAGE_NAME)/etc/php5/mods-available; \
	fi

binary-indep:

binary-arch: install
	echo "php:Depends=phpapi-$(phpapiver)" >> debian/$(BIN_PACKAGE_NAME).substvars
	dh_testdir
	dh_testroot
	dh_installchangelogs debian/Changelog
	dh_installdocs
	dh_installexamples
	dh_installdebconf	
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip
endif
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
